header {
  background-color: #444;
  color: #fff;
  margin: 0 -1rem;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
  padding: 1rem;
  cursor: pointer;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

ul li:hover {
  background-color: #333;
}
